@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
@layer base {
  body {
    font-family: "Silkscreen", cursive;
  }
}

* {
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* .background-start{
  background-image: url('./assets/image.png');
  background-repeat: no-repeat;
  background-size: cover;
} */


/* .background-game{
  background-image: url('./assets/image.png');
  background-repeat: no-repeat;
  background-size: cover;
} */